*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  background: url("bg.jpg");
}


/********************** SWITCH ************************************/
.switch{
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: rgb(39,38,38);
  position: relative;
  left: 385px;
  top: 120px;
}

.flicker{
  width:20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow:
    inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195, 193, 198)
}

.moon{
  width: 15px;
  height: 15px;
  border-radius: 10px;
  box-shadow: inset -4px -4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 7px;
  left: 35px;
}

.dark{
  background-color: rgb(57, 57, 57);
  background: url("bg-black2.jpg");
  background-size: cover;
}

.dark .flicker{
  transform: translate(25px);
}

.dark > * {
  color: #fff;
}

/************************************ Signup ****************************/
.Signup-box{
  text-align: center;
  margin-top: 50px;
  padding: 70px;
}
.Signup-box input{
  display: block;
  width: 350px;
  height: 40px;
  margin: 25px;
  border: none;
  font-size: 20px;
}
